* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: black; 
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

h1 {
    font-family: 'BeVietnam-Regular';
    font-size: 35px;
    position: absolute;
    top: 43.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, hsl(0, 0%, 100%), hwb(338 59% 0%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2,
h3 {
    font-family: 'BeVietnam-Regular';
    font-size: 25px;
    color: white;
    line-height: 1.5;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4 {
    font-family: 'BeVietnam-Regular';
    font-size: 17px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, hwb(338 59% 0%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

h4:hover {
    transform: translateX(-50%) scale(1.2); 
    text-shadow: 0 0 20px #ffadd0;
}

#social-media {
    position: absolute;
    top: calc(50% + 34px);
    left: 50%;
    transform: translateX(-50%);
}

#social-media a {
    display: inline-block;
    margin: 0 10px;
}

#social-media img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0px #ff9bc8;
}

#social-media img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px #ffadd0;
}

#homeButton,
#aboutMe,
#projectsMe {
    position: absolute;
    font-size: 25px;
    left: 50%; 
    transform: translateX(-50%); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

#homeButton {
    top: 310px;
    background: linear-gradient(to right, hwb(338 59% 0%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#aboutMe {
    top: 375px;
}

#projectsMe {
    top: 440px;
}

#homeButton:hover,
#aboutMe:hover,
#projectsMe:hover {
    transform: translateX(-50%) scale(1.2); 
    text-shadow: 0 0 20px #ffadd0;
}
@keyframes fadeInAndSlideIn {
    0% {
        opacity: 0;
        transform: translate(-1px)
    }
    100% {
        opacity: 1;
    }
}

#infoScreen #homeButton,
#infoScreen #aboutMe,
#infoScreen #projectsMe {
    opacity: 0; 
    animation: fadeInAndSlideIn 0.5s ease-in-out forwards;
}
#topButtons {
    position: absolute;
    top: 23px;
    left: 74.5%;
    transform: translateX(-50%);
    display: flex; 
    justify-content: center; 
}

.topButton {
    font-family: 'BeVietnam-Regular';
    font-size: 17px;
    margin: 0 20px; 
    cursor: pointer;
    position: relative; 
}

#aboutMeTop {
    left: 162px;
    background: linear-gradient(to right, hwb(0 100% 0%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

#homeButtonTop {
    background: linear-gradient(to right, hwb(0 100% 0%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

#projectsMeTop {
    background: linear-gradient(to right, hwb(0 100% 0%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

.topButton.active::after,
.topButton:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: #ff9bc8;
}

#homeButtonTop.active,
#aboutMeTop.active,
#projectsMeTop.active {
    background: linear-gradient(to right, hwb(0 100% 0%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
