* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: auto;
    background-color: black; 
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

h1 {
    font-family: 'BeVietnam-Regular';
    font-size: 35px;
    position: absolute;
    top: 43.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, hsl(0, 0%, 100%), hwb(338 59% 0%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2,
h3 {
    font-family: 'BeVietnam-Regular';
    font-size: 25px;
    color: white;
    line-height: 1.5;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4 {
    font-family: 'BeVietnam-Regular';
    font-size: 17px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out;
}

h4:hover {
    color: #ff9ee2;
    text-shadow: 0 0 20px #ffadd0;
}

#social-media {
    position: absolute;
    top: calc(50% + 34px);
    left: 50%;
    transform: translateX(-50%);
}

#social-media a {
    display: inline-block;
    margin: 0 10px;
}

#social-media img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0px #ff9bc8;
}

#social-media img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px #ffadd0;
}

#homeButton,
#aboutMe,
#projectsMe,
#contactMe {
    font-family: 'BeVietnam-Regular';
    position: absolute;
    color: white;
    font-size: 25px;
    left: 50%; 
    transform: translateX(-50%); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    animation: fadeInAndSlideIn 0.5s ease-in-out forwards;
}

#homeButton {
    top: 290px;
}

#aboutMe {
    top: 350px;
}

#projectsMe {
    top: 420px;
}
#contactMe {
    top: 490px;
}

#homeButton:hover,
#aboutMe:hover,
#projectsMe:hover,
#contactMe:hover {
    transform: translateX(-50%) scale(1.2); 
    color: #ff9ee2;
    text-shadow: 0 0 20px #ffadd0;
}
@keyframes fadeInAndSlideIn {
    0% {
        opacity: 0;
        transform: translate(-1px)
    }
    100% {
        opacity: 1;
    }
}

#infoScreen #homeButton,
#infoScreen #aboutMe,
#infoScreen #projectsMe {
    opacity: 0; 
    animation: fadeInAndSlideIn 0.5s ease-in-out forwards;
}
#topButtons {
    position: absolute;
    top: 23px;
    margin-left: 66%;
    transform: translateX(-50%);
    display: flex; 
    justify-content: center; 
}

.topButton {
    font-family: 'BeVietnam-Regular';
    font-size: 17px;
    margin: 0 20px; 
    cursor: pointer;
    position: relative; 
}

#aboutMeTop {
    left: 234px;
    background: linear-gradient(to right, hwb(0 100% 0%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

#homeButtonTop {
    background: linear-gradient(to right, hwb(0 100% 0%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

#projectsMeTop {
    background: linear-gradient(to right, hwb(0 100% 0%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}
#contactMeTop {
    background: linear-gradient(to right, hwb(0 100% 0%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

.topButton.active::after,
.topButton:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: #ff9bc8;
}

#homeButtonTop.active,
#aboutMeTop.active,
#projectsMeTop.active {
    background: linear-gradient(to right, hwb(0 100% 0%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#unfoldContainer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 0;
    background-color: hsl(0, 0%, 15%);
    animation: unfoldAnimation 1.2s ease-in-out forwards;
    z-index: 9999;
    opacity: 0;
    border-radius: 8px;
}


#textContainer {
    padding: 20px;
    font-family: Arial, sans-serif; 
}

.aboutMeHeading {
    font-size: 24px; 
    color:white;
    font-weight: bold;
}
.aboutMeHeading::before {
    content: ''; 
    position: absolute;
    top: 17%;
    left: 140px; 
    width: 100px; 
    height: 2px; 
    background-color: #ff9bc8; 
    animation: unfoldInnerBoxAnimation 1.2s ease-in-out forwards;
}

.aboutMeDetails {
    font-size: 18px; 
    margin-top: 10px;
    color:white;
    line-height: 22px;
}

@keyframes unfoldAnimation {
    0% {
        height: 0;
        width: 800px;
        opacity: 0;
    }
    100% {
        height: 200px;
        width: 800px;
        opacity: 1;
    }
}
#boxContainer {
    width: 0px; 
    height: 80px;  
    position: absolute;
    top: 150%;
    left: 9.7%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: unfoldInnerBoxAnimation 1s ease-in-out forwards;
    animation-delay: 1s; 
    border: 2px solid #ff9bc8; 
    border-radius: 10px;
    background-color: #1f1f1f; 
}
.skill {
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 25px;
    opacity: 0; 
    animation: fadeInAndSlideIn 0.9s ease forwards, glow 2s ease infinite; 
    animation-delay: 2.4s; 
}

@keyframes fadeInAndSlideIn {
    0% {
        opacity: 0;
        transform: translate(-1px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 0px #ff9bc8;
    }
    50% {
        text-shadow: 0 0 20px #ff9bc8;
    }
    100% {
        text-shadow: 0 0 0px #ff9bc8;
    }
}
#twoboxContainer {
    width: 0px; 
    height: 80px; 
    position: absolute;
    top: 200%;
    left: 9.7%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: unfoldInnerBoxAnimation 1s ease-in-out forwards;
    animation-delay: 1s; 
    border: 2px solid #ff9bc8; 
    border-radius: 10px;
    background-color: #1f1f1f;  
}
#thirdboxContainer {
    width: 0px; 
    height: 80px; 
    position: absolute;
    top: 250%;
    left: 9.7%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: unfoldInnerBoxAnimation 1s ease-in-out forwards;
    animation-delay: 1s; 
    border: 2px solid #ff9bc8; 
    border-radius: 10px;
    background-color: #1f1f1f;  
}
#fourboxContainer {
    width: 0px; 
    height: 80px;  
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: unfoldInnerBoxAnimation 1s ease-in-out forwards;
    animation-delay: 1s; 
    border: 2px solid #ff9bc8; 
    border-radius: 10px;
    background-color: #1f1f1f; 
}
#fiveboxContainer {
    width: 0px; 
    height: 80px; 
    position: absolute;
    top: 150%;
    left: 87.3%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: unfoldInnerBoxAnimation 1s ease-in-out forwards;
    animation-delay: 1s; 
    border: 2px solid #ff9bc8; 
    border-radius: 10px;
    background-color: #1f1f1f;  
}
#sixboxContainer {
    width: 0px; 
    height: 80px;  
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: unfoldInnerBoxAnimation 1s ease-in-out forwards;
    animation-delay: 1s; 
    border: 2px solid #ff9bc8;
    border-radius: 10px;
    background-color: #1f1f1f;  
}
#sevenboxContainer {
    width: 0px; 
    height: 80px;  
    position: absolute;
    top: 200%;
    left: 87.3%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: unfoldInnerBoxAnimation 1s ease-in-out forwards;
    animation-delay: 1s; 
    border: 2px solid #ff9bc8; 
    border-radius: 10px;
    background-color: #1f1f1f;  
}
#eightboxContainer {
    width: 0px; 
    height: 80px; 
    position: absolute;
    top: 250%;
    left: 87.3%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: unfoldInnerBoxAnimation 1s ease-in-out forwards;
    animation-delay: 1s; 
    border: 2px solid #ff9bc8; 
    border-radius: 10px;
    background-color: #1f1f1f;  
}
#nineboxContainer {
    width: 0px; 
    height: 80px; 
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: unfoldInnerBoxAnimation 1s ease-in-out forwards;
    animation-delay: 1s; 
    border: 2px solid #ff9bc8; 
    border-radius: 10px;
    background-color: #1f1f1f;  
}
#sixboxContainer .skill {
    color: hsl(188, 100%, 50%); 
}

#sevenboxContainer .skill {
    color: #a8a8ff; 
}

#eightboxContainer .skill {
    color: #ffcc00; 
}

#nineboxContainer .skill {
    color: #9d00ff; 
}
@keyframes unfoldInnerBoxAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 160px; 
        opacity: 1;
    }
}
#unfoldContainer.active #boxContainer,
#unfoldContainer.active #twoboxContainer,
#unfoldContainer.active #thirdboxContainer,
#unfoldContainer.active #fourboxContainer,
#unfoldContainer.active #fiveboxContainer,
#unfoldContainer.active #sixboxContainer,
#unfoldContainer.active #sevenboxContainer,
#unfoldContainer.active #eightboxContainer,
#unfoldContainer.active #nineboxContainer {
    animation: unfoldInnerBoxAnimation 1s ease-in-out forwards;
}
#projectsBoxContainer {
    width: 400px; 
    padding: 20px;
    background-color: #1f1f1f; 
    border: 2px solid #ff9bc8; 
    border-radius: 10px;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInAndSlideInAgain 0.9s ease forwards; 
    animation-delay: 0.2s; 
}
#projectsBoxContainer img {
    width: 355px; 
    height: 180px; 
    margin-right: 20px; 
}
#kittyBoxContainer img {
    width: 355px; 
    height: 200px; 
    margin-right: 20px; 
}

.projectsMeHeading {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.projectsMeDetails {
    font-size: 18px;
    color: white;
    margin-top: 10px; 
    line-height: 1.5;
}

@keyframes fadeInAndSlideInAgain {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
#kittyBoxContainer {
    width: 400px; 
    padding: 20px;
    background-color: #1f1f1f; 
    border: 2px solid #ff9bc8; 
    border-radius: 10px;
    position: absolute;
    top: 115%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInAndSlideInAgain 0.9s ease forwards; 
    animation-delay: 0.2s; 
}

.projectsMeHeading {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.projectsMeDetails {
    font-size: 18px;
    color: white;
    margin-top: 10px; 
    line-height: 1.5;
}
.project-links {
    margin-left: -3px; 
    margin-top: 8px;
    word-spacing: -13px;
}
.projectsMeScreen {
    overflow-y: auto;
    height: 100vh;
}
#contactMeScreen {
    display: none;
    position: absolute;
    animation: fadeInAndSlideInAgain 0.9s ease forwards; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contactForm {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif; 
}

button {
    padding: 10px 20px;
    background-color:  #ff9ee2;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color:  #1f1f1f;
}
#headingOne {
    color: white;
    top: -10%;
    left: 20.3%;
}
#headingOne:hover {
    color: #ff9ee2;
}
#msg {
    color: #00be00;
    display: block;
}
#skillsButton {
    background-color: grey;
    margin-top: 22px;
    margin-left: -20px;
    cursor: pointer;
}
#skillsButton:hover {
    background-color: #ff9ee2;
}
#toolsButton {
    background-color: grey;
    margin-top: 22px;
    margin-left: -1px;
    cursor: pointer;
}
#toolsButton:hover {
    background-color: #ff9ee2;
}
footer {
    position: fixed;
    bottom: 0;
    margin-left: -38.3%;
    width: 100%;
    color: white;
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
}
